body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --primary: #efefef;
  --black: #303030;
  --blue: #46458C;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;

}

.logo-container {
  display: inline-flex;
  align-items: center;
}

.logo-container p {
  font-size: 1rem;
  font-weight: bold;
}

header img {
  width: 10rem;
}

h1 {
  font-size: 3rem;
  color: var(--black);
}

h2 {
  color: var(--black);
}

h3 {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--black);
  
}

a {
  text-decoration: none;
  color: var(--black);

}

header {
  display: flex;
  height: 90px;
  width: 100%;
  align-items: center;
  justify-content: space-around;
 
    
}

.header-container {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: var(--primary);
}

header ul {
  display: inline-flex;
  list-style: none;
  
 
}

header a {
  padding: 10px 20px;
  border-radius: 2px;

}

header button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
  

}

header a:hover {
  color: white;
  background-color: var(--blue);
  
  

}

.hero-container {
  height: calc(100vh - 90px);
  background: url(./assets/hero-background.jpg) no-repeat center center/cover;

}

.hero-background {
  background-color: rgba(252, 245, 245, 0.524);
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: center;
  padding: 50px;
  
}

.hero h1 {
  padding: 20px 2px; 
  animation: fadeInDown; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1s; /* don't forget to set a duration! */
  letter-spacing: 2px;
  
}


.hero h3 {
  padding: 5px 2px;
  font-size: 1.8rem;
 
}
.hero input, button {
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: solid 1px;
  margin: 5px 2px;

}
.hero button {
  background-color: var(--blue);
  color: white;
}

.services {
  background-color: var(--primary);
  padding: 20px 2px;
}

.services h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
}
.services h3 {
  color: white;
}

.services-background > p {
  
  max-width: 1200px;
  margin: auto;
}

.card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 50px 0;
 
}

.card {
  width: 300px;
  height: 300px;
  background-color: white;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: white;
 
}

.card:hover {
  transform: scale(1.1);
  transition: 0.5s;
  cursor: pointer;
}

.card h3, p {
  padding: 10px 10px;
  
}
.card h3 {
  font-weight: bold;
}
.data-set {
  background: url(./assets/Dataset.jpg) ;
  background-size: cover;
  background-position: center;
  

}

.data-pro {
  background: url(./assets/Datapro.jpg) ;
  background-size: cover;
  background-position: center;

}

.estate-pro {
  background: url(./assets/Estatepro.jpg) ;
  background-size: cover;
  background-position: center;

}

.web-devt {
  background: url(./assets/Webdevt.jpg) ;
  background-size: cover;
  background-position: center;

}
.card-background {
  background-color: rgba(0, 0, 0, 0.565);
  height: 100%;
  border-radius: inherit;
  backdrop-filter: blur(2px);
 
}

.card button {
  background-color: transparent;
  color: white;
  text-decoration: underline;
  border: none;
}

.dataset-container {
  
  padding: 20px 2px;
  

}

.dataset-background {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  column-gap: 20px;
  

}

.left-container, .right-container {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  width: 50%;
  padding: 20px;
  
}

.left-container p {
  text-align: left;
  padding: 20px 0;
}

.right-container h3 {
  text-align: left;
  padding: 10px 0;
  font-weight: bold;
}

.image-container {
  height: 100px;
  aspect-ratio: 1/1;
  background-color: black;
  
}

.dataset-card-background {
  display: flex;
  align-items: center;
  column-gap: 20px;

}

.dataset-card {
  margin: 20px 0;
}

.datapro-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  padding: 20px 2px;
}

.datapro-container h2 {
  
  text-transform: uppercase;
  letter-spacing: 2px;
}

.datapro-card-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  column-gap: 20px;
  
  
}

.datapro-card {
  height: 300px;
  width: 300px;
  
  background-color: black;
  
}

.datapro-card h3 {
  color: white;
  padding: 10px 0;
}

.datapro-card a {
  color: white;
  text-decoration: none;
  padding: 10px 0;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }

  .nav-container {
    display: none;
  }

  .nav-active {
    display: block;
    position: absolute;
    top: 70px;
    width: 100%;
    background-color: var(--primary);

  }

  header button {
    display: block;
  }


  header ul {
    display: block;
    text-align: right;
    padding: 20px 0;
  }

  header li {
    padding: 10px 20px;
  }

  .hero-background {
    align-items: center;
  }

  .dataset-background {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }

  .left-container, .right-container {
    width: 100%;
    padding: 2px;
  }

  .datapro-card-container {
    flex-flow: column;
    row-gap: 20px;
  }
}


